



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: montserrat-Regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf'); 
}

@font-face {
  font-family: montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}

@font-face {
  font-family: JosefinSans-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: montserrat-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
	font-family: montserrat-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: montserrat-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}


input::-webkit-input-placeholder { color: #999999;}
input:-moz-placeholder { color: #999999;}
input::-moz-placeholder { color: #999999;}
input:-ms-input-placeholder { color: #999999;}

textarea::-webkit-input-placeholder { color: #999999;}
textarea:-moz-placeholder { color: #999999;}
textarea::-moz-placeholder { color: #999999;}
textarea:-ms-input-placeholder { color: #999999;}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*---------------------------------------------*/
.container {
	max-width: 1200px;
}




/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

.container-contact100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: relative;
  z-index: 1;
}

.container-contact100::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #c9e5ab;
  background: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background: -o-linear-gradient(top, #ffffff, #ffffff);
  background: -moz-linear-gradient(top, #ffffff, #ffffff);
  background: linear-gradient(top, #ffffff, #ffffff);
  pointer-events: none;
}

.contact100-map {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.wrap-contact100 {
  width: 800px;
  background: #e3e16c;
  border-radius: 10px;
  overflow: hidden;
  padding: 72px 150px 25px 150px;

  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}


/*==================================================================
[ Form ]*/

.contact100-form {
  width: 100%;
}

.contact100-form-title {
  display: block;
  font-family: montserrat-Bold;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 34px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 30px;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: montserrat-Bold;
  font-size: 16px;
  color: #4b2354;
  line-height: 1.2;
}


/*---------------------------------------------*/
input.input100 {
  height: 62px;
  padding: 0 20px 0 23px;
}


textarea.input100 {
  min-height: 199px;
  padding: 19px 20px 0 23px;
}

/*------------------------------------------------------------------
[ Focus Input ]*/

.focus-input100 {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  border-radius: 20px;
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.05);

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 {
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 43px;
}

.contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 42px;
  background-color: #012010;
  border-radius: 21px;

  font-family: montserrat-Bold;
  font-size: 14px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  padding-top: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  box-shadow: 0 10px 30px 0px rgba(201, 229, 171, 0.4);
  -moz-box-shadow: 0 10px 30px 0px rgba(201, 229, 171, 0.4);
  -webkit-box-shadow: 0 10px 30px 0px rgba(201, 229, 171, 0.4);
  -o-box-shadow: 0 10px 30px 0px rgba(201, 229, 171, 0.4);
  -ms-box-shadow: 0 10px 30px 0px rgba(201, 229, 171, 0.4);
}

.contact100-form-btn:hover {
  background-color: #012010;
  box-shadow: 0 10px 30px 0px rgba(201, 229, 171, 0.9);
  -moz-box-shadow: 0 10px 30px 0px rgba(201, 229, 171, 0.9);
  -webkit-box-shadow: 0 10px 30px 0px rgba(201, 229, 171, 0.9);
  -o-box-shadow: 0 10px 30px 0px rgba(201, 229, 171, 0.9);
  -ms-box-shadow: 0 10px 30px 0px rgba(201, 229, 171, 0.9);
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 768px) {
  .wrap-contact100 {
    padding: 72px 50px 25px 50px;
  }
}

@media (max-width: 576px) {
  .wrap-contact100 {
    padding: 72px 15px 25px 15px;
  }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate .focus-input100 {
  box-shadow: 0 5px 20px 0px rgba(250, 66, 81, 0.1);
  -moz-box-shadow: 0 5px 20px 0px rgba(250, 66, 81, 0.1);
  -webkit-box-shadow: 0 5px 20px 0px rgba(250, 66, 81, 0.1);
  -o-box-shadow: 0 5px 20px 0px rgba(250, 66, 81, 0.1);
  -ms-box-shadow: 0 5px 20px 0px rgba(250, 66, 81, 0.1);
}

.alert-validate::before {
  content: attr(data-validate);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  min-height: 62px;
  background-color: #fff;
  border-radius: 20px;
  top: 0px;
  left: 0px;
  padding: 0 45px 0 22px;
  pointer-events: none;

  font-family: montserrat-Bold;
  font-size: 16px;
  color: #fa4251;
  line-height: 1.2;
}

.btn-hide-validate {
  font-family: Material-Design-Iconic-Font;
  font-size: 15px;
  color: #fa4251;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 62px;
  top: 0px;
  right: 28px;
}

.rs1-alert-validate.alert-validate::before {
  background-color: #fff;
}

.true-validate::after {
  content: "\f269";
  font-family: Material-Design-Iconic-Font;
  font-size: 15px;
  color: #57b846;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 62px;
  top: 0px;
  right: 28px;
}

/*---------------------------------------------*/
@media (max-width: 576px) {
  .alert-validate::before {
    padding: 0 30px 0 10px;
  }

  .true-validate::after,
  .btn-hide-validate {
    right: 10px;
  }
}

/*-------------------------------------------------------------------

                        3. Menu Styles

-------------------------------------------------------------------*/

.menu-blocks {
    transition: all 0.3s;
}

.menu-blocks.hidex {
    z-index: -999;
}

.menu-blocks.showx {
    z-index: 999;
}

.menu-block {
    cursor: pointer;
}

.menu-item {
    cursor: pointer;
}

h2.menu-item {
    position: relative;
    color: #c9e5ab;
    margin: 50px;
    font-size: 28px;
    font-weight: 600;
    transition: all 1s ease-out;
}

.dark h2.menu-item {
    color: #c9e5ab;
}

h2.menu-item:before {
    position: absolute;
    top: -40px;
    left: -20px;
    font-size: 14px;
    transition: all 0.3s ease;
}

h2.about.menu-item:before {
    content: '01';
}

h2.portfolio.menu-item:before {
    content: '02';
}

h2.blog.menu-item:before {
    content: '03';
}

h2.contact.menu-item:before {
    content: '04';
}

.menu-block:hover h2.menu-item:before {
    top: -20px;
    left: -40px;
}

h2.menu-item:after {
    position: absolute;
    content: '';
    top: -10px;
    left: -20px;
    width: 70px;
    height: 1px;
    background: #c9e5ab;
    transition: all 0.5s ease;
}

.dark h2.menu-item:after {
    background: #333;
}

.menu-block:hover h2.menu-item:after {
    top: 12px;
    left: -40px;
}

.menu-block:hover {
    background: rgba(0, 0, 0, 0.1);
}

/* --- Inline Menu --- */

.inline-menu-container {
    background: #c9e5ab;
    position: fixed;
    height: 40px;
    width: auto;
    right: 13px;
    top: -50px;
    transition: all 0.5s;
    z-index: 1;
}

.inline-menu-container.showx {
    top: 0;
}

.status {
    color: #333;
    line-height: 38px;
    padding-left: 45px;
}

.status:before {
    position: absolute;
    top: 17px;
    left: 25px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #4dd133;
    content: '';
}

.status:after {
    position: absolute;
    top: 13px;
    left: 21px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4dd133;
    content: '';
    opacity: 0.3
}

#close i {
    font-size: 30px;
    vertical-align: middle
}

.inline-menu {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 20px;
}

.inline-menu li {
    display: inline-block;
    cursor: pointer;
    font-weight: 600;
    line-height: 40px;
    margin-top: -5px;
    padding: 0 15px;
    color: #c9e5ab;
}

.inline-menu li.active,
.inline-menu li:hover {
    color: #c9e5ab;
}

.inline-menu li.active {
    cursor: text;
}

.inline-menu-container.style2 {
    background: transparent;
}

.style2 .inline-menu li {
    color: #012010;
    font-weight: 400;
    line-height: 70px;
}


.style2.dark {
  background-color: #F1F3F6
}


.style2.dark .inline-menu li {
    color: #666;
    font-size: 14px;
    line-height: 40px;
}

.inline-menu-container.style3 {
    background: #FFF;
    border-bottom: 1px solid #eee;
    height: 40px;
}

.sidebar-menu {
    background: #111; 
    height: 100%;
    left: 0;
    position: fixed; 
    width: 20%;
}

.sidebar-menu.hidex {
    opacity: 1;
    visibility: visible;
    z-index: 1;
}

.menu4 .inline-menu {
    margin-right: 0;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}

.menu4 .inline-menu li {
    color: #787878;
    display: block;
    font-size: 20px;
    font-weight: 300;
    line-height: 60px;
    padding: 0 0 0 30px;
}

.menu4 .inline-menu li.active {
    color: #FFF;
}

.close-pop {
    background-color: #F1F3F6;
    cursor: pointer;
    line-height: 40px;
    height: 40px;
    position: fixed;
    text-align: center;
    width: 69%;
    right: 13px;
    top:-60px;
    transition: all 0.7s;
    z-index: 1;
}

.menu4 .close-pop {
    width: 79%;
}

.close-pop:hover {
    opacity: 0.7;
}

.content-blocks.pop.showx .close-pop {
  top: 0;
}
/*==================================================================
[ Contact more ]*/

.contact100-more {
  font-family: montserrat-Regular;
  font-size: 16px;
  color: #012010;
  line-height: 1.5;
  text-align: center;
}

.contact100-more-highlight {
  color: #012010;
}